[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
pygments = "*"
django-filter = "*"
django-guardian = "*"
django-rosetta = "*"
django-cryptography = "*"
python-dotenv = "*"
django-oauth-toolkit = "*"
django-cors-headers = "*"
reportlab = "*"
django-tailwind = {extras = ["reload"], version = "*"}
pillow = "*"
numpy = "*"
pandas = "*"
django-pandas = "*"
geoip2 = "*"
maxminddb = "*"
celery = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.11"
