{% load static tailwind_tags %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %} {% translate "EZ Startup - Easy for Everyone" %}{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% comment %} <rel rel="stylesheet" type="text/css" src="{% static "css/main.css" %}'> {% endcomment %}
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<main>
			<!-- Task bar -->
			<nav class="block">
				{% include 'layout/dock.html' %}
			</nav>

			<!-- Content -->
			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>
